.appView_photos {
  width: 90%;
  height: auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.photo-container {
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-container:hover {
  transform: scale(1.1);
}

.appView_photos div {
  position: relative;
  width: 80%;
  margin: 2% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appView_photos div .image-container {
  width: 100%;
  object-fit: cover;
}

.appView_photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.appView_photos h2 {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border-color: #e37171;
}

@media only screen and (min-width: 768px) {
  .appView_photos h2 {
    font-size: 3rem;
  }
  .appView_photos {
    flex-direction: row;
  }
  .appView_photos img {
    min-width: 300px;
    min-height: 300px;
  }
}

@media only screen and (min-width: 1200px) {
  .appView_photos h2 {
    font-size: 4rem;
  }
  .appView_photos {
    width: 60%;
  }
}
