.backBtn {
  background-color: #ab5c4b;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 12px;
  margin-top:50px;
}

.backBtn:hover {
  border: solid black 0.1px;
}
