.addOrRemoveQuantity {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}

.product-grid-cart {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5rem;
    min-height: auto;
    width: 75%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin: 5% 5% 5% 5%;
  }
