.navbar {
  z-index: 100000;
  background-color: #ab5c4b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
  min-width: 100%;
}

.title {
  font-family: "fantasy";
  text-align: center;
  font-size: 4em;
}

.title a {
  text-decoration: none;
  color: black;
}

.navIcons {
  width: 40px;
  height: 40px;
}

.dropdown-menu-burger {
  display: none;
  position: absolute;
  padding: 20px;
  left: 0;
  background-color: #f9f9f9;
  width: 200px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10000;
  border-radius: 0 10px 10px 10px;
}

.dropdown-menu-cart {
  padding: 20px;
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 200px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10000;
  border-radius: 10px 0 10px 10px;
}

.dropdown:hover .dropdown-menu-cart , .dropdown:hover .dropdown-menu-burger {
  display: block;
}

.dropdown-menu-cart li, .dropdown-menu-burger li {
  padding: 10px;
}

#removeBtnCart {
  background-color: #ff2f00;
  color: white;
  border: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 5%;
}

@media (max-width: 767px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    font-size: 1.5em !important;
  }
}
