.navbar {
  z-index: 100000;
  background-color: #ab5c4b;
  display: flex;
  justify-content: space-between;
}

.navmenu_icons {
  height: auto;
  width: 2.2rem;
}

.title {
  font-size: 5em;
  font-Family: "fantasy";
}

/* Decrease font size for screens smaller than 768px */
@media (max-width: 767px) {
  .title {
    font-size: 2em; /* adjust as needed */
  }
}
